
body{
    background: rgba(212,228,239,1);
background: -moz-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(212,228,239,1)), color-stop(100%, rgba(134,174,204,1)));
background: -webkit-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -o-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: -ms-linear-gradient(top, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
background: linear-gradient(to bottom, rgba(212,228,239,1) 0%, rgba(134,174,204,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d4e4ef', endColorstr='#86aecc', GradientType=0 );

}




h1{
    text-align: center;
}

#outlined-basic{
    background-color: white;
    padding-top: 1rem;
    margin: 5px;
    border-radius: 10px;
}

.header{
    text-align: center;
    display: flex;
    flex-direction: row;
    
}
.icon{
    margin-left: 8rem;

}

.box{
    border-radius: 20px;
}

.incorrect{
    text-align: center;
    color: red;
}